*{
    padding:0;
    margin:0 auto;
}

ul,ol{
    list-style-type: none;
}

a{
    color:inherit;
    text-decoration: none;
}

body{
    font-family: Noto Sans KR;
    font-size: 18px;
    line-height: 28px;
    color:#666;
}

/* header 시작 */

#header_wrap{
    background:url(../images/sub1_main_bg.jpg)
    no-repeat top center;
    width:100%;
    height:866px;
}

.header{
    width:1200px;
    margin:0 auto;
    display: flex;
    justify-content:flex-start;
    position:relative;
    padding:50px;
}

.logo{
    width:800px;
    
}


.gnb{
    display: flex;
}

.gnb li a{
    display: block;
    color:#fff;
    padding:0 20px;
}

.gnb li a:hover{
    color:#fed800;
}


.header_text{ 
    /* position:absolute;
    top:250px;
    left:0;
    color:#fff; */
    width:1200px;
    margin:0 auto;
    color:#fff;
    padding:100px 0;

}

.header_text h2{
    font-size:18px;
}

.header_text h1{
    line-height:50px;
    font-size:45px;
    font-weight:400;
}

.header_text h5{
    font-weight:400;
    padding-top:10px;
}

/* header 끝 */

/* section1 시작 */

.section1{
    width:1200px; 
    margin:0px auto;
}

.section1 ul{
    display: flex;
    justify-content: space-between;
    padding:100px 0 50px 0;
}

.section1 ul li{
    width:600px;
    text-align: center;
}

.s1_text{
    text-align: left;
}

.bold_text{
    font-weight:bold;
}

.small_text{
    font-size:14px;
}

/* section1 끝 */

/* section2 시작 */

.section2_wrap{
    background-color: rgb(230, 230, 230);
}

.section2{
    width:1200px;
    margin:0 auto;
}

.section2 ul{
    display: flex;
    justify-content: space-between;
    padding:100px 0 50px 0;
}

.section2 ul li{
    width:600px;
}

.s2_img{
    width:600px;
}

.s2_img img{
    padding-left:200px;
}

/* section2 끝 */

/* section3 시작 */

.section3{
    width:1200px;
    margin:0 auto;
    padding:100px 0 50px 0;
}

.section3 h2{
}

.section3 ul{
    display: flex;
    justify-content: space-between;
    padding-top:30px;
}

.section3 ul li img{
    padding-bottom:10px;
}

/* section3 끝 */

.section4_wrap{
    background-color: #fed800;
}

.section4{
    width:840px;
    margin:0 auto;
    text-align: center;
    padding:100px 0 50px 0;
}

.qrcode{
    width:200px;
    height:200px;
    background-color: #fff;
    border-radius: 20px;
    margin:30px auto;
    text-align: center;
}

.qrcode a img{
    text-align: center;
    padding-top:20px;
    width:160px;
}

/* section4 끝 */

/* section5 시작 */

.section5{
    width:840px;
    margin:0 auto;
    padding:100px 0 50px 0;
    text-align: center;
}

.section5 h1{
    font-size: 25px;
    padding:20px 0;
}

.section5 p{
    display: inline-block;
    font-size:14px;
    font-weight: bold;
    width:150px;
    padding:5px 15px;
    background-color: #fed800;
    border-radius: 30px;
    box-shadow: 7px 7px 0 rgba(0,0,0,0.3);
}

/* section5 끝 */

/* footer 시작 */

.footer_wrap{
    background-color: rgb(31, 31, 31);
}

.footer{
    width:1200px;
    padding:30px 0;
}

.footer ul{
    padding:0 0 30px 0;
    width:1200px;
}

.footer ul li a:nth-child(1){
    padding-left:0;
}

.footer ul li a{
    display: block;
    float:left;
    padding:0 30px;
}

.footer ul li a:hover{
    color:#fff;
}